body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #000000;
}

body {
  overflow-x: hidden;
}
input[type="file"]::file-selector-button {
  /* margin-right: 20px; */
  border: none;
  background: none;
  /* padding: 10px 20px; */
  border-radius: 10px;
  color: transparent;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: none;
}
